html,
body {
    overscroll-behavior: none;
}

.page__content {

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        margin: 0;
        padding: 0;
    }
}

// for iPhone X landscape mode
// @media screen and (orientation: landscape) {
//     ons-page {
//         padding-left: 44px;
//         padding-right: 44px;
//     }
// }

#top-toolbar {
    position: fixed;
    top: 0px;
    left: 0px;
}

/* 地図 */
#map {
    height: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

.map {
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: none;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    border-radius: 0;

    * {
        margin: 0;
        padding: 0;
    }
}

// ルビ
[data-ruby] {
    position: relative;

    &::before {
        content: attr(data-ruby);
        position: absolute;
        top: -1em;
        left: 0;
        right: 0;
        margin: auto auto auto;
        font-size: 0.5em;
    }
}


.dialog {
    &-content {
        text-align: center;
        padding: 12px;
    }

    &-text {
        margin: 20px 0;
    }

    &-button {
        margin: 0 0 20px 0;
    }
}

.search-input {
    cursor: pointer;

    &-map {
        position: absolute;
        z-index: 1;
        top: 40px;
        width: 90%;
        margin: 0 5%;
        opacity: 0.6;

        @media (min-width: 768px) {
            top: 30px;
            width: 70%;
            margin: 0 15%;
        }
    }

    &-list {
        width: 100%;
        margin: 0;
    }
}

.gm {

    // Full display is not allowed
    &-control-active,
    &-fullscreen-control,
    &-style-mtc {
        display: none;
    }

    // 地形図、航空
    &noprint {
        display: block;
    }

    &-svpc {
        display: none !important;
    }

    &-style,
    &-iw {
        font-size: 11px;

        /* infowindowのCSS */
        &-iw {
            width: 250px !important;
            top: 15px !important;
            left: 0 !important;
            background-color: #fff;
            border-radius: 2px 2px 0 0;
        }
    }

    &gm-style-iw-t {
        display: none !important;
        position: unset !important;
    }

}

/* PC対応 */
@media only screen and (min-width: 1200px) {
    .gm-style-iw {
        width: 300px !important;
    }
}

// Top progress bar
.progress-bar {
    &--indeterminate {
        position: absolute;
        top: 1%;
        width: 100%;
        z-index: 1;
    }
}


.profile-pic {
    width: 200px;
    background-color: #fff;
    margin: 20px auto 10px;
    border: 1px solid #999;
    border-radius: 4px;

    img {
        display: block;
        max-width: 100%;
    }

}

ons- {
    &list {
        &-item {
            color: #444;
        }
    }

    &button,
    &speed-dial,
    &speed-dial-item {
        cursor: pointer;
    }
}

#rc- {
    &img {
        width: 100%;
        margin: 2% 0;
    }

    &name {
        margin: 1% 0;
    }

    &border {
        margin: 3% 8%;
    }

}

.list-loading {
    margin: 20px;
    text-align: center !important;
}