/* バウンススクロールの禁止 */

html,
body {
    overscroll-behavior: none;
}

#top-toolbar {
    position: fixed;
    /* ヘッダーの固定 */
    top: 0px;
    /* 位置(上0px) */
    left: 0px;
    /* 位置(右0px) */
}

/* 地図 */
#map {
    height: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

.map {
    text-align: center;
    margin: 0;
    padding: 0;
}

// .gm-svpc {
//     display: none;
// }

.rc-name {
    padding: 0;
}


// ルビ
[data-ruby] {
    position: relative;

    &::before {
        content: attr(data-ruby);
        position: absolute;
        top: -1em;
        left: 0;
        right: 0;
        margin: auto auto auto;
        font-size: 0.5em;
    }
}


.dialog {
    &-content {
        text-align: center;
        padding: 12px;
    }

    &-text {
        margin: 20px 0;
    }

    &-button {
        margin: 0 0 20px 0;
    }
}

.search-input {

    &-map {
        position: absolute;
        z-index: 1;
        top: 60px;
    }
}

.gm{
    &-control-active,
    &-fullscreen-control {
        display: none;
    }
}

.progress-bar{
    &--indeterminate{
        position: absolute;
        top: 1%;
        width: 100%;
        z-index: 1;
    }
}